<!-- Your menu structure should make a breadcrumb redundant, but if a breadcrump is needed uncomment the below -->
<div data-ng-controller="KnowledgeController as KnowledgeCtrl">
	<nav aria-label="You are here:" role="navigation">
		<ul class="breadcrumbs">
			<li><a href="../">Knowledge Resource Center</a></li>
			<li>
				<span class="show-for-sr">Current: </span> Knowledge resources
			</li>
		</ul>
	</nav>

	<div id="main-content-area" class="row">
		<div class="columns">
			<section>
				<h2>
					Knowledge resources
					<img src="images/BioExcel_logo.png" style="height: 4rem;" class="float-right" />
				</h2>
				<div id="interactiveKnwoledge">
					<p>Loading...</p>
					<p class="small">This application requires JavaScript.</p>
				</div>
				<div>
					<form>
						<div class="row">
							<div class="medium-6 columns">
								<input id="typeFilterKnowledge" type="text" data-ng-model="typeFilterKnowledge" placeholder="Filter by any keyword" />
							</div>
							<div class="medium-6 columns">
								<select name="choices-multiple-remove-button" id="choices-multiple-remove-button" placeholder="Filter by one domain" multiple="" data-ng-model="selectFilterOption">
								</select>
							</div>
						</div>
						<div class="row">
							<input id="checkboxOnline" type="checkbox" data-ng-click="includeType('online')" ng-model="selectOnline" />
								Show online courses
								| 
							<input id="checkboxFaceToFace" type="checkbox" data-ng-click="includeType('face-to-face')" ng-model="selectFaceToFace" />
							 	Show face-to-face
						</div>
						<div class="row">
							<a id="showAll" class="button" ng-model="all" ng-click="reloadPage()">Show all knowledge resources</a>
						</div>
						<!-- <input id="" type="submit" class="button filtersubmit hidden" value="Filter these" /> -->
					</form>
					<table id="knowledgeBaseTable" class="responsive-table">
						<thead>
							<tr>
								<th colSpan='2'>Name and description</th>
								<th>Competency</th>
								<th>Domain</th>
								<th>Type</th>
							</tr>
						</thead>
						
						<tbody>
							<tr data-ng-repeat="obj in $parent.filteredCourses | filter:selectFilterOption[0] | filter:typeOnlineOrFaceToFace | filter:typeFilterKnowledge" data-ng-show="$parent.filteredCourses.length || ($parent.filteredCourses | filter:selectFilterOption[0] | filter:typeOnlineOrFaceToFace | filter:typeFilterKnowledge).length">
								<td colSpan='2'>
									<div>
										<div>
											<span class="label">{{ obj.typeOnlineOrFacetoface }}</span>
											<span class="label">{{ obj.typeDetail }}</span>
										</div>
										<span style="color: grey;">
											<a target="_blank" href="{{ obj.url }}">{{ obj.name }}</a>
										</span>
										<div ng-show="obj.courseComments.length > 0 && obj.typeOnlineOrFacetoface=='online'">
											<div class="small"></div>
											<div class="small">Related data on Github: {{ obj.courseComments }}</div>
										</div>
									</div>
								</td>
								<td>
									<span data-ng-repeat="compentency in obj.competencyMapping track by $index">
										<a class="badge small margin-right-small" id="linkToCompetency" data-ng-href="#{{ compentency }}" data-ng-click="seeCompetency(compentency)">{{ compentency }}</a>
									</span>
								</td>
								<td>
									<span data-ng-repeat="domain in obj.domain track by $index">
										<span class="tag small margin-right-small">{{ domain }}</span>
									</span>
								</td>
								<td>
									<span class="tag">{{ obj.typeDetail }}</span> 
									<span class="tag">{{ obj.typeOnlineOrFacetoface }}</span>
									<div>
										<a ng-show="obj.typeOnlineOrFacetoface=='online'" class="small readmore" href="{{ obj.url }}" target="_blank">Take now</a>
										<a ng-show="obj.typeOnlineOrFacetoface=='face-to-face'" class="small readmore" href="{{ obj.courseComments }}" target="_blank">View event location and date</a>
									</div>
								</td>
							</tr>
							<tr data-ng-show="!$parent.filteredCourses.length || !($parent.filteredCourses | filter:selectFilterOption[0] | filter:typeOnlineOrFaceToFace | filter:typeFilterKnowledge).length"><td>Nothing found, sorry.</td></tr>
						</tbody>
					</table>

					<a href="#skip-to">Go to top</a>

				</div>
			</section>
		</div>
	</div>
</div>









 