<!DOCTYPE html>
<html class="no-js" lang="en-US"  ng-app="compentencyProfile">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="profile" href="//gmpg.org/xfn/11" />
		<link rel="pingback" href="//bioexcel.eu/xmlrpc.php" />
		<script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
		<style id="dyn-style-fonts" type="text/css"></style>
		<title>Training &#8211; BioExcel</title>

		<link rel='stylesheet' id='tc-gfonts-css'  href='//fonts.googleapis.com/css?family=Alegreya:700%7CRoboto' type='text/css' media='all' />
		<link rel='stylesheet' id='customizr-common-css' href='../css/tc_common.min.css?ver=2.0.5' type='text/css' media='all' />
		<link rel='stylesheet' href='../css/orange.min.css' type='text/css' media='all' />
		<style id='customizr-skin-inline-css' type='text/css'>
			.site-title,.site-description,h1,h2,h3,.tc-dropcap {
				font-family : 'Alegreya';
				font-weight : 700;
			}
			body,.navbar .nav>li>a {
				font-family : 'Roboto';
				font-weight : inherit;
			}
			table { border-collapse: separate; }
			body table { border-collapse: collapse; }
		</style>
		<link rel='stylesheet' id='forget-about-shortcode-buttons-css'  href='../css/button-styles.css' type='text/css' media='all' />
						
		<!-- JQuery -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

		<!-- Angular -->
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.min.js"></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-sanitize.min.js"></script>

		<!--App -->
		<script type="text/javascript" src="../js/app.js"></script>
		<script type="text/javascript" src="../js/controllers/KnowledgeController.js"></script>
		<script type="text/javascript" src="../js/models/KnowledgeObj.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/app.css">
		
		<!-- Tooltipster -->
		<link rel="stylesheet" type="text/css" href="../tooltipster/dist/css/tooltipster.bundle.min.css" />
		<script type="text/javascript" src="../tooltipster/dist/js/tooltipster.bundle.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-shadow.min.css" />

		<!-- Choices -->
		<!-- Include Choices CSS -->
		<link rel="stylesheet" type="text/css" href="../assets/styles/css/choices.min.css">
		<!-- Include Choices JavaScript -->
		<script type="text/javascript" src="../assets/scripts/dist/choices.min.js"></script>

	</head>
	<body class="page-template-default page page-id-1129 page-child parent-pageid-14 tc-fade-hover-links tc-r-sidebar tc-center-images skin-orange tc-sticky-header sticky-disabled tc-solid-color-on-scroll no-navbar tc-regular-menu tc-sticky-footer" itemscope itemtype="//schema.org/WebPage">
		<div id="tc-page-wrap" class="">
			<header class="tc-header clearfix row-fluid tc-tagline-off tc-title-logo-on  tc-shrink-on tc-menu-on logo-left tc-second-menu-in-sn-before-when-mobile" role="banner" style="height: auto; top: 0px;">
				<div class="brand span3 pull-left">
					<img src="../images/BioExcel_logo.png" style="max-width: 250px; max-height: 100px; width: 1130px; height: 102.876px;" width="1130" height="465" />
				</div>
			</header>
			
			<div id="tc-reset-margin-top" class="container-fluid" style="margin-top: 103px;"></div>
			<div id="main-wrapper" class="container">
				<ul id="tab_ul" class="tabs">
					<li class=""><a rel="tab_div1" href="../core-competency">Core Competencies</a></li>
					<li class="selected"><a rel="tab_div2" href="#">Knowledge Base</a></li>
				</ul>
				<div class="tc-hot-crumble container" role="navigation">
					<div class="row">
						<div class="span12">
							<div class="breadcrumb-trail breadcrumbs" itemprop="breadcrumb">
								<span class="trail-begin"><a href="//bioexcel.eu" title="BioExcel" rel="home" class="trail-begin">Home</a></span> 
								<span class="sep">&raquo;</span> <a href="//bioexcel.eu/services/" title="Services">Services</a> 
								<span class="sep">&raquo;</span> <a href="//bioexcel.eu/services/training/" title="Training">Training</a> <span class="sep">&raquo;</span> 
								<span class="trail-end">Knowledge Resource Center</span>
							</div>
						</div>
					</div>
				</div>
				<div class="container" role="main">
					<div class="row column-content-wrapper">
						<div id="content" class="span9 article-container tc-gallery-style">
							<article id="page-1129" class="row-fluid post-1129 page type-page status-publish hentry">
								<header class="entry-header">
									<h1 class="entry-title">Knowledge Resource Center</h1>
									<hr class="featurette-divider __before_content">
								</header>
								<div class="entry-content" data-ng-controller="KnowledgeController as KnowledgeCtrl" data-ng-init="loadDataKnowledge();">
									<div id="main-content-area" class="row">
										<div class="columns">
											<section>
												<div id="interactiveKnwoledge">
													<p>Loading...</p>
													<p>This application requires JavaScript.</p>
												</div>
												<div>
													<form>
														<div>
															<input id="typeFilterKnowledge" type="text" data-ng-model="typeFilterKnowledge" placeholder="Filter by any keyword" />
															<select name="choices-multiple-remove-button" id="choices-multiple-remove-button" placeholder="Filter by one domain" multiple="" data-ng-model="selectedDomains"></select>
															<input id="checkboxOnline" type="checkbox" data-ng-click="includeType('online')" data-ng-model="selectOnline" />
																Show online courses
																| 
															<input id="checkboxFaceToFace" type="checkbox" data-ng-click="includeType('face-to-face')" ng-model="selectFaceToFace" />
																Show Face to face courses
														</div>
														<br>
														<div>
															<a id="showAll" class="fasc-button fasc-size-large fasc-type-flat fasc-ico-before dashicons-welcome-learn-more" style="background-color: #ea9b54; color: #ffffff;" dat-ng-model="all" ng-click="reloadPage()">Show all knowledge resources</a>
														</div>
														<table id="knowledgeBaseTable">
															<thead>
																<tr>
																	<th colSpan='2'>Name and description</th>
																	<th>Competency<span data-tooltip aria-haspopup="true" class="has-tip [tip-top tip-bottom tip-left tip-right] [radius round]" title="Tooltip: definition of Competencies"><i class="icon icon-generic" data-icon="i"></i></span></th>
																	<th>Domain<span data-tooltip aria-haspopup="true" class="has-tip [tip-top tip-bottom tip-left tip-right] [radius round]" title="Tooltip: definition of Domains"><i class="icon icon-generic" data-icon="i"></i></span></th>
																	<th>Type</th>
																</tr>
															</thead>
															
															<tbody>
																<tr data-ng-repeat="obj in filteredCourses | filter:filterByDomain | filter:filterOnlineOrFaceToFace | filter:typeFilterKnowledge" data-ng-show="(filteredCourses | filter:filterByDomain | filter:filterOnlineOrFaceToFace | filter:typeFilterKnowledge).length">
																	<td colSpan='2'>
																		<div>
																			<span> 
																				{{ obj.name }}
																			</span>
																			<div ng-show="obj.courseComments.length > 0 && obj.typeOnlineOrFacetoface=='online'">
																				<div></div>
																				<div style="font-size: x-small;">Related data: <a data-ng-href="{{ obj.courseComments }}" target="_blank">{{ obj.courseComments }}</a></div>
																			</div>
																		</div>
																	</td>
																	<td>
																		<span data-ng-repeat="competency in obj.competencyMapping track by $index" ng-click="tooltipClick(competency.number, competency.name)"> <!-- ng-mouseover="tooltipClick(competency)" -->
																			<!-- <a class="badge small margin-right-small" id="linkToCompetency" data-ng-href="#{{ competency }}" data-ng-click="seeCompetency(competency)">{{ competency }}</a>  -->
																			<span class="badge small cursorPointer" data-tooltip-content="#tooltip_content" tooltipster >{{ competency }}</span>
																		</span>
																	</td>
																	<td>
																		<span data-ng-repeat="domain in obj.domain track by $index">
																			<span class="tag small">{{ domain }}</span>
																		</span>
																	</td>
																	<td>
																		<span ng-show="obj.typeDetail.length > 0">{{ obj.typeDetail }}</span> 
																		<span>{{ obj.typeOnlineOrFacetoface }}</span>
																		<div>
																			<a ng-show="obj.typeOnlineOrFacetoface=='online'" data-ng-href="{{ obj.url }}" target="_blank">Take now >></a>
																			<a ng-show="obj.typeOnlineOrFacetoface=='face-to-face'" data-ng-href="{{ obj.courseComments }}" target="_blank">View event location and date >></a>
																		</div>
																	</td>
																</tr>
																<tr data-ng-show="!(filteredCourses | filter:filterByDomain | filter:filterOnlineOrFaceToFace | filter:typeFilterKnowledge).length"><td>Nothing found, sorry.</td></tr>
															</tbody>
														</table>
													</form>
												</div>
											</section>
										</div>
									</div>
									<div id="tooltip_templates">
										<div id="tooltip_content">
											<p style="text-align:left;">
												<strong>Competency {{ competencyNumberSelected }}</strong><br>{{ competencyNameSelected }}<br>
												<a data-ng-href="../competency_profile/" data-ng-click="$parent.seeCompetency(competencyNumberSelected)">See more</a>
											</p>
										</div>
									</div>
								</div>
							</article>
						</div>
					</div>
					<!--.row -->
				</div>
				<!-- .container role: main -->
				<div id="tc-push-footer"></div>
			</div>
			<!-- //#main-wrapper -->
		</div>
		<!-- //#tc-page-wrapper -->
	</body>
</html>