.hidden {
	display: none !important;
}

#linkToCompetency:link, #linkToCompetency:visited {
	color: rgb(255, 255, 255);
}

#typeFilterKnowledge {
	height: 57px;
	font-weight: normal;
	font-size: 0.8rem;
}

#tooltip_templates { 
	display: none; 
}

.cursorPointer {
	cursor: pointer;
}

.badge {
    display: inline-block;
    padding: 0.3em;
    min-width: 2.1em;
    text-align: center;
    border-radius: 50%;
    background: #118d4f;
    color: #fefefe;
}

.tag {
    display: inline-block;
    padding: 0.33333rem 0.5rem;
    font-size: 0.8rem;
    line-height: 1;
    white-space: nowrap;
    color: white;
    border-bottom: none;
    /*background-color: #f78c40;*/
    background-color: #E0964A;
}