<div class="entry-content">
	<div id="main-content-area" class="row">
		<div class="columns">
			<section>
				<form name="competencyForm" data-ng-submit="competencyForm.$valid" novalidate>
					<div style="padding-bottom: 1rem">
						<input id="typeFilterCompetency" type="text" data-ng-model="typeFilterCompetency" placeholder="Filter by any keyword" style="width:100%;" />
					</div>
					<table id="competenciesBaseTable" class="events-table" cellpadding="0" cellspacing="0" data-ng-show="$parent.competencyArray.length || ($parent.competencyArray | filter:typeFilterCompetency).length">
						<thead align="left" style="font-size: large;">
							<tr>
								<th class="absorbing-column">Competency number</th>
								<th colSpan='2'>Name and description</th>
							</tr>
						</thead>

						<tbody>
							<tr data-ng-repeat="obj in $parent.competencyArray | orderBy:'number'.sort(naturalSort) | filter:typeFilterCompetency"> <!-- http://www.overset.com/2008/09/01/javascript-natural-sort-algorithm/ -->
								<td align="center">
									<span class="badge small" style="font-size: medium;">{{ obj.number }}</span>
								</td>
								<td colSpan='2' id="{{ obj.number }}">
									<h4 style="color: #f78c40;">
										{{ obj.name }}
									</h4>
									<div data-ng-repeat="detail in obj.details track by $index" ng-show="obj.details.length">
										<p>
											<em>{{ detail.type }}</em>
											<ul style="list-style-type:circle" data-ng-repeat="detailContent in detail.details.split(';-') track by $index">
												<li data-ng-bind-html="detailContent" style="margin-left:30px;"> </li>
											</ul>
										</p>

									</div>
									<span><a name="{{ obj.number }}" data-ng-click="knowledgeByCompetency(obj.number);" ng-show="obj.details.length">View related training resources</a></span>
								</td>
							</tr>
						</tbody>
					</table>
					<p data-ng-show="!$parent.competencyArray.length || !($parent.competencyArray | filter:typeFilterCompetency).length">Nothing found, sorry.</p>
				</form>
			</section>
		</div>
	</div>
</div>


