<div class="entry-content">
	<div id="main-content-area" class="row">
		<div class="columns">
			<section>
				<form name="KnowledgeBaseForm" ng-submit="KnowledgeBaseForm.$valid" novalidate>
					<div>
						<input id="typeFilterKnowledge" type="text" data-ng-model="typeFilterKnowledge" placeholder="Filter by any keyword" style="width:100%;" ng-disabled="KnowledgeBaseForm.$invalid" />
						<select name="choices-multiple-remove-button" id="choices-multiple-remove-button" placeholder="Filter by one domain" multiple="" data-ng-model="selectedDomains" ng-disabled="KnowledgeBaseForm.$invalid"></select>
						<input id="checkboxOnline" type="checkbox" data-ng-click="includeType('online')" data-ng-model="selectOnline" ng-disabled="KnowledgeBaseForm.$invalid" />
							Show online courses 
						<input id="checkboxFaceToFace" type="checkbox" data-ng-click="includeType('face-to-face')" ng-model="selectFaceToFace" ng-disabled="KnowledgeBaseForm.$invalid" />
							Show Face to face courses
					</div>
					<br>
					<h3 data-ng-show="filters==1;">
						<a id="showAll" type="button" class="fasc-button fasc-size-large fasc-type-flat fasc-ico-before dashicons-welcome-learn-more" style="background-color: #ea9b54; color: #ffffff; padding: 5px;" data-ng-model="all" ng-click="reloadPage();">Clear filters</a>
					</h3>
					<br>
					<table id="knowledgeBaseTable" class="events-table" cellpadding="0" cellspacing="0" data-ng-show="($parent.filteredCourses | filter:filterByDomain | filter:filterOnlineOrFaceToFace | filter:typeFilterKnowledge).length">
						<thead align="left" style="font-size: large;">
							<tr>
								<th colSpan='2'>Name</th>
								<th>Competency <span class="fa fa-info-circle tooltipHelp" data-tooltip-content="#tooltip_competency" tooltipster></span></th>
								<th>Domain <span class="fa fa-info-circle tooltipHelp" data-tooltip-content="#tooltip_domain" tooltipster></th>
								<th>Type</th>
							</tr>
						</thead>
						
						<tbody>
							<tr ng-repeat="obj in $parent.filteredCourses | filter:filterByDomain | filter:filterOnlineOrFaceToFace | filter:typeFilterKnowledge"> 
								<td colSpan='2'>
									<div>
										<span> 
											{{ obj.name }}
										</span>
										<div ng-show="obj.startDate.length > 0 && obj.typeOnlineOrFacetoface=='face-to-face'">
											<div style="font-size: x-small;">Start date: {{ obj.startDate | date }}</div>
											<div style="font-size: x-small;">End date: {{ obj.endDate | date }}</div>
										</div>
										<div ng-show="obj.courseComments.length > 0 && obj.typeOnlineOrFacetoface=='online'">
											<div style="font-size: x-small;">Related data: <a data-ng-href="{{ obj.courseComments }}" target="_blank">{{ obj.courseComments }}</a></div>
										</div>
									</div>
								</td>
								<td align="center">
									<modal lolo="modal1" modal-body="body" modal-footer="footer" modal-header="header" data-ng-click-right-button="myRightButton()"></modal>
									<span data-ng-repeat="competency in obj.competencyMapping track by $index"> 
										<a class="badge small cursorPointer" href="" role="button" data-toggle="modal" ng-click="toggleModal(); modalContent(competency.number, competency.name);">{{ competency.number }}</a>  
									</span>
								</td>
								<td>
									<span data-ng-repeat="domain in obj.domain track by $index">
										<span class="tag small">{{ domain }}</span>
									</span>
								</td>
								<td>
									<span>{{ obj.typeDetail }}</span> 
									<span data-ng-show="!obj.typeDetail.toLowerCase().includes('online') && !obj.typeDetail.toLowerCase().includes('face-to-face') && !obj.typeDetail.length">{{ obj.typeOnlineOrFacetoface }}</span>
									<div>
										<a data-ng-href="{{ obj.url }}" target="_blank">More information >></a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<p data-ng-show="!($parent.filteredCourses | filter:filterByDomain | filter:filterOnlineOrFaceToFace | filter:typeFilterKnowledge).length">Nothing found, sorry.</p>
				</form>
			</section>
		</div>
	</div>
</div>
<div id="tooltip_templates">
	<div id="tooltip_competency" align="justify">
		<h4>Competency</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. </p>
	</div>
	<div id="tooltip_domain" align="justify">
		<h4>Domain</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. </p>
	</div>
</div>


<modal-dialog show='modalShown' width='750px' height='auto'>
	<h2>
		Competency {{ competencyNum }}
	</h2>
	<h4 style="color: #f78c40;">
		{{ competencyName }}
	</h4>
	<div data-ng-repeat="detail in competencyDetails track by $index"> 
		<p>
			<em>{{ detail.type }}</em>
			<ul style="list-style-type:circle" data-ng-repeat="detailContent in detail.details.split(';-') track by $index">
				<li data-ng-bind-html="detailContent" style="margin-left:30px;"> </li>
			</ul>
		</p>
		
	</div>
	<br>
	<span><a href="" ng-click="redirectModal();">Go to competency profile</a></span>
</modal-dialog>


















					