<form name="knowledgeForm" ng-submit="knowledgeForm.$valid && KnowledgeCtrl.submitQuery()" novalidate>
	<input class="hidden" id="inputfilter" type="text" placeholder="Filter training resources - not user accessible" ng-model="inputFilter" />

	<select type="text" id="searchfilter" placeholder="Filter training resources" multiple tabindex="-1" class="select2-hidden-accessible" aria-hidden="true"></select>
	
	<p>
	    <input id="checkboxOnline" type="checkbox" checked ng-click="includeType('online')" />
	      Show online courses
	      | 
	    <input id="checkboxFaceToFace" type="checkbox" checked ng-click="includeType('face-to-face')" />
	      Show face-to-face
	    <input id="" type="submit" class="button filtersubmit hidden" value="Filter these" />
    </p>
</form>
<table class="tablesorter">
	<thead>
		<tr>
            <th colSpan='2'>Name and description</th>
            <th>Competency</th>
            <th>Domain</th>
            <th>Type</th>
        </tr>
	</thead>
	<!-- filter:typeFilter | -->
	<tbody>
		<tr ng-repeat="obj in dataObjs | filter:typeFilter">
			<td colSpan='2'>
				<div>
					<div>
						<span class="label">{{ obj.typeOnlineOrFacetoface }}</span>
						<span class="label">{{ obj.typeDetail }}</span>
					</div>
					<span style="color: grey;">
						<a target="_blank" href="{{ obj.url }}">{{ obj.name }}</a>
					</span>
					<div>
						<div class="small"></div>
						<div class="small">{{ obj.courseComments }}</div>
					</div>
				</div>
			</td>
			<td>
				<span ng-repeat="compentency in obj.competencyMapping.split(', ') track by $index">
					<span class="badge small margin-right-small">{{ compentency }}</span>
				</span>
			</td>
			<td>
				<span ng-repeat="domain in obj.domain.split(', ') track by $index">
					<span class="tag small margin-right-small">{{ domain }}</span>
				</span>
			</td>
			<td>
				<span class="tag">{{ obj.typeDetail }}</span> 
				<span class="tag">{{ obj.typeOnlineOrFacetoface }}</span>
				<div>
					<a class="small readmore" href="{{ obj.url }}">Take now</a>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<script type="text/javascript">
	$(document).ready(function () {
		
	});
</script>
	

<!-- <span class="select2 select2-container select2-container--default select2-container--focus select2-container--below" dir="ltr" style="width: 1170px;">
	<span class="selection">
		<span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expandex="false" tabindex="-1">
			<ul class="select2-selection__rendered">
				<li class="select2-search select2-search--inline">
					<input class="select2-search__field" type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="off" role="textbox" aria-autocomplete="list" placeholder="Filter by a keyword or two" style="width: 1168px;" /> 
				</li>
			</ul>
		</span>
	</span>
	<span class="dropdown-wrapper" aria-hidden="true"></span>
</span> -->

